### Project ##
!**/src/main/**
!**/src/test/**

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
target/
.flattened-pom.xml
dependency-reduced-pom.xml

### IntelliJ IDEA ###
!.idea/codeStyles/Project.xml
!.idea/jsonSchemas.xml
.idea/
*.iws
*.iml
*.ipr

### Scala SBT
.bsp

### Documentation (local only) ###
docs/

### log files ###
*.log
hs_err_pid*
scripts/data/output/*.json
.vscode/settings.json
scripts/generate_presentation_diagrams.ps1
scripts/generate_presentation_pptx.ps1
